{% extends 'registration/base.html' %}
{% block title %}{% block title-meta %}
    تغییر گذرواژه
{% endblock %}{% endblock %}

{% block main %}
<div class="row">
  <!-- left column -->
  <div class="col-md-8 text-center mx-auto ">
    <!-- general form elements -->
    <div class="card card-success">
      <div class="card-header">
        <h3 class="card-title mb-0 float-left">عملیات با موفقیت انجام شد</h3>
      </div>

      <!-- /.card-header -->

    <div class="card-body py-4">
      <form method="post">
        <p class="py-2">گذر واژه با موفقیت تغییر یافت</p>
       
        
    </form>
    </div>
</div>
{% endblock %}
