{% extends 'registration/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{% block title-meta %}
    تعویض گذرواژه
{% endblock %}{% endblock %}

{% block main %}
<div class="row">
  <!-- left column -->
  <div class="col-md-12">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title mb-0 float-left">تعویض گذرواژه</h3>
      </div>

      <!-- /.card-header -->

    <div class="card-body">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}

            <div class="row">
                <div class="col-6">
                    {{ form.old_password|as_crispy_field }}
                </div>
                <div class="col-6"></div>
                <div class="col-6">
                    {{ form.new_password1|as_crispy_field }}
                </div>
                <div class="col-6">
                    {{ form.new_password2|as_crispy_field }}
                </div>
             

        <button class="btn btn-danger">تغییر گذرواژه</button>
                {% if user.is_superuser and request.resolver_match.kwargs.pk %}
                    <a href="{% url 'account:article-delete' request.resolver_match.kwargs.pk %}" class="btn btn-danger"> حذف </a>

                {% endif %}
        </form>
    </div>
</div>
{% endblock %}
