@font-face {
    font-family: Sahel;
    src: url('Sahel.eot');
    src: url('Sahel.eot?#iefix') format('embedded-opentype'),
         url('Sahel.woff2') format('woff2'),
         url('Sahel.woff') format('woff'),
         url('Sahel.ttf') format('truetype');
  }
  

body{
    direction: rtl;
    font-family: Sahel;


}

.ms-auto {
    margin-left: initial !important;
    margin-right: auto;
  }
  


h1,h2,h3,h4,h5,h6,a {
  font-family: Sahel;
}

.navbar-nav {
    margin-left: initial !important;
    margin-right: auto;
}

.post-meta {
    text-align: left;
}

.pager-botton {
    float: left !important;
}

header.masthead .site-heading h1 {
    font-size: 40px;
}

.post-title {
    font-size: 28px !important;
}

.post-subtitle {
    font-size: 16px;
}





/*  */
#horizontalmenu{
    margin-right: 20px;
}
#horizontalmenu ul {
  list-style: none;
    padding: 0;
    
}

#horizontalmenu > ul:after{
    clear:both;
    content:"";
    display:block;
}

#horizontalmenu > ul > li {
  float: right;
  position: relative;

}

#horizontalmenu > ul > li > a {
    text-decoration: none;
    padding: 5px 10px;
    display:block;
    color: black;
    margin-right: 20px;

}



#horizontalmenu > ul > li > ul {

  display: none;
  width:150px;
  top:100%;
  left:0;
  position: absolute;
}

#horizontalmenu > ul > li > ul > li {
  position: relative;
  width:100%;
  display: block;
}

#horizontalmenu > ul > li > ul > li > a {
  text-decoration: none;
    padding: 5px 10px;
    display:block;
}


#horizontalmenu > ul > li:hover > ul {
  display: block;
}

#horizontalmenu > ul > li > ul > li > ul {
    display:none;
    position:absolute;
    left:100%;
    right: 0%;
    top:0;
    width: 150px;

}

#horizontalmenu > ul > li > ul > li > ul > li > a {
  text-decoration: none;
    padding: 5px 10px;
    display:block;
    color: white;
}


#horizontalmenu > ul > li > ul > li:hover ul {
  display: block;
}