{% extends 'blog/base.html' %}
{% load static %}
{% block main %}

<!-- Page Header-->

<header class="masthead" style="background-image: url('{% static "blog/assets/img/home.jpg" %}')">
<div class="container position-relative px-4 px-lg-5">
	<div class="row gx-4 gx-lg-5 justify-content-center">
		<div class="col-md-10 col-lg-8 col-xl-7">
			<div class="site-heading">
				<h1>وبلاگ</h1>
			</div>
		</div>
	</div>
</div>
</header>

{% block 'header' %}{% endblock %}
<!--
	detailview = object.felan
	listview = object_list

-->

<!-- Main Content-->
<div class="container px-4 px-lg-5">
	<div class="row gx-4 gx-lg-5 justify-content-center">
		<div class="col-md-10 col-lg-8 col-xl-7">
		  
			<!-- Post preview-->
			<div class="post-preview">
				{% for article in object_list %}
				<a href="{% url 'blog:detail' article.slug %}"><h2 class="post-title">{{article.title}}
				{% if article.is_spical %}
					<span class="badge" style="color:#f96767; font-size:20px;">ویژه</span>
				{% endif %}
				</h2> </a>

				<h5 class="post-subtitle">{{article.description|striptags|truncatewords:20}}</h5>
				<p class="post-subtitle">
					 منتشر شده توسط
					<a href="{% url 'blog:author' article.author %}">{{article.author.get_full_name}}</a>در
					{{article.jpublish}}

				</p>
				<p class="post-meta" style="margin-top: 1px;">
					<p class="post-subtitle">مدت زمان مطالعه {{article.time_to_read}} دقیقه</p>
				</p>
				<div>
					{% for cat in article.category.active %}
					<a href="{% url 'blog:category' cat.slug %}"># {{cat.title}}</a>
					{% endfor %}
				</div>
			
			{% endfor %}
			<!-- Divider-->
			<hr class="my-4" />
			
		   <!-- Pager-->
		 {% if is_paginated %}
			 {% if page_obj.has_previous %}
			<div style="display:flex; text-align: center;">
			 <div class="d-flex justify-content-end mb-4 ml-3"><a class="btn btn-primary text-uppercase mr-3" href="{% url 'blog:home' %}?page={{page_obj.previous_page_number}}">پست های جدید </a>
			 {% endif %}
			 {% if page_obj.has_next %}
			 
			 </div>
			 <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase mr-3" href="{% url 'blog:home' %}?page={{page_obj.next_page_number}}">پست های قدیمی </a> 
				
			 {% endif %}
			 </div>
			 </div>
		 {% endif %}
		</div>
		</div>
	</div>
</div>

{% endblock %}
